/* --- Website Styles --- */


/* --- Css Variables */
:root {
    --color-green: #55c57a;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    --color-silver: #e4e7ea;
    --color-white: #ffffff;
    --color-silver-2: #54667a;


}

html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- Style Sign up & Login Forms --- */

.signup-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100vh;
}

.account-right {
    width: 30%;
    position: relative;
}

.form-area {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.group {
    margin-bottom: 1.5rem;
}

.control {
    width: 100%;
    display: block;
    padding: 1.1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid var(--color-silver);
    transition: all 1s;
    font-family: "Poppins", sans-serif;
}

.control:focus {
    outline: none;
    border: 1px solid var(--color-green-dark);
}

.file {
    display: none;
}

#file-label {
    display: block;
    border: 1px solid var(--color-silver);
    width: 100%;
    padding: 1.1rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: all 1s;
    text-align: left;
}

.upload-icon {
    margin-right: 10px;
    font-size: 1.7rem;
    color: var(--color-green-dark);
}

#file-label:hover {
    cursor: pointer;
    border: 1px solid var(--color-green-dark);
}

.btn {
    display: block;
    padding: 1.2rem .9rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    border: 0px;
}

.btn-account {
    width: 100%;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    color: var(--color-white);
    box-shadoW: 0 6px 6px -2px rgba(0, 0, 0, 0.2);
}

.btn-account:hover {
    cursor: pointer;
}

.form-heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 0.1rem solid var(--color-silver);
    padding-bottom: 1.5rem;
    letter-spacing: .2rem;
    text-align: left;
    color: #999;
}

.link {
    display: block;
    color: #999;
    text-align: left;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 2.5rem;
}


/* --- Styles div account-left --- */
.account-left {
    width: 70%;
    background-image: linear-gradient(to bottom right, rgba(40, 180, 113, 0.9) 50%, transparent 50%), url("../img/macbook.jpg");
    background-size: cover;
    position: relative;
);
}

.account-text {
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* --- Design Chat Area --- */
#nav {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.chat-container {
    display: flex;
}

#sidebar {
    width: 20%;
    height: 90vh;
    background-color: var(--color-white);
    box-shadow: .8rem 0 .6rem -1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

#sidebar::before {
    content: "Profile";
    color: var(--color-white);
    width: 100%;
    text-align: center;
    line-height: 10vh;
    box-shadow: 3px -2px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    position: absolute;
    height: 10vh;
    top: -10vh;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));

}

#right-area {
    width: 80%;
    height: 90vh;


}

.messages {
    width: 100%;
    height: 75vh;

    padding: 2rem;
}

.left-message {
    display: flex;
    width: 50%;
}

.sender-img-block {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

.sender-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.1rem;
}

.left-msg-area {
    margin-left: 2rem;
}

.sender-name {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--color-silver-2);
}

.date-time {
    margin-left: 2rem;
}

.left-msg {
    padding: 1rem;
    color: var(--color-white);
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    margin-top: .8rem;
    width: auto;
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
    position: relative;

}

.left-msg::before {
    content: "";
    position: absolute;
    top: 0;
    left: -.7rem;
    width: 0;
    height: 0;
    border-top: .7rem solid var(--color-green-light);
    border-left: .7rem solid transparent;
}

.common-margin {
    margin-top: 1.5rem;
}


.right-message {
    display: flex;
    justify-content: flex-end;

}

.right-msg-area {
    max-width: 50%;
    width: auto;

}

.right-msg {
    padding: 1rem;
    width: auto;
    color: var(--color-silver-2);
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    margin-top: .3rem;
    background: var(--color-silver);
}

.right-time {

    display: block;
    text-align: right;
}

.chat-form {
    width: 100%;
    height: 15vh;
    background-color: var(--color-silver);
}

.left-ul {
    margin: 3rem 0;
    padding: 0;
}

.left-ul li {
    list-style: none;
}

.left-ul li a {
    text-decoration: none;
    display: block;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-silver-2);
    position: relative;
}

.cool-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.left-ul li:hover .cool-hover {
    width: 100%;
}

.profile-img-span {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.left-ul li:not(:first-child):hover {
    background: linear-gradient(to right, var(--color-green-light), var(--color-green-dark));
}

.left-ul li:hover a {
    color: var(--color-white);
}

.profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: all .3s;
}

.profile-img-span:hover .profile-img {
    transform: scale(1.6);
}

/* --- Responsive Media Queries --- */
@media (max-width: 765px) {
    .account-left {
        display: none;
    }

    .account-right {
        width: 100%;
    }
}

